@media all and (orientation: portrait) {
  @media (min-width: 980px) {
    html {
      font-size: 2rem;
    }
  } /* 竖屏电脑 */
  @media (min-width: 768px) and (max-width: 979px) {
    html {
      font-size: 1.5rem;
    }
  } /* 竖屏平板 */
  @media (max-width: 767px) {
    html {
      font-size: 1rem;
    }
  } /* 竖屏手机 */
}

@media all and (orientation: landscape) {
  @media (min-width: 1024px) {
    html {
      font-size: 2rem;
    }
  } /*横屏网页 */
  @media (max-width: 1023px) {
    html {
      font-size: 1rem;
    }
  }
} /* 横屏手机 */

body {
  margin: 0;
  padding: 0;

  font-size: 0.625rem;
  font-family: STHeiti, "Microsoft YaHei", sans-serif;
  font-weight: 300;

  background-color: #eff0f4;
  color: #ffffff;
} /* 确定全局属性：字体大小、字族、字重等 */
input,
input:focus {
  background: none;
  outline: none;
  border: none;
} /* 去除全部输入框及按钮的默认样式 */

header {
  position: fixed;
  top: 0;
  display: flex;

  width: 100%;
  height: 4.4em;
  line-height: 4.4em;
  background-color: #5fc0cd;
} /* 用position:fixed和top:0来固定在顶部，再加flex布局，变为弹性层模型 */
.close,
.register {
  min-width: 1.5em;
  font-size: 1.6em;
} /* min-width 保证点击区域至少44px */
.register {
  text-align: right;
} /* 当“注册”的字体宽度低于44px，处于右端，来完成两端对齐 */

.close {
  position: absolute;
  left: 1em;
}
.register {
  position: absolute;
  right: 1em;
} /* “关闭”和“注册”两个文本按键，以绝对定位来代替margin值 */
.tittle {
  margin: 0 auto;

  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0.2em;
} /* 特别改变页面标题的字体类型，和居中位置 */

main {
  margin-top: 5.2em;
} /* 主体内容布局 */
.account,
.password {
  margin-top: 0.8em;
  display: flex;
  align-items: center;

  width: 100%;
  height: 5em;

  line-height: 5em;
  background-color: #ffffff;
} /* 应用flex布局，使icon和input的盒模型从左到右垂直居中排列 */
.icon {
  width: 5.8em;
  height: 2.6em;

  border-right: 0.1em solid #e1e5e7;
}
.clear {
  display: flex;

  width: 4.4em;
  height: 4.4em;
} /* 定义分隔线的尺寸和位置，以及清除按钮的尺寸和位置 */

.clear input {
  margin: auto auto;
  font-size: 3em;

  width: 0.4em;
  height: 0.4em;
}
.img {
  margin: auto auto;

  width: 1.6em;
  height: 2.4em;
} /* 定义icon和clear的图像的大小和中心位置 */

.account .img {
  background: url(../login/img/iphone@2x.png) no-repeat;
  background-size: cover;
}
.password .img {
  background: url(../login/img/locked@2x.png) no-repeat;
  background-size: cover;
}
.clear input {
  background: url(../login/img/reset@2x.png) no-repeat;
  background-size: cover;
}
@media screen and (-webkit-device-pixel-ratio: 3) {
  .account .img {
    background: url(../login/img/iphone@3x.png) no-repeat;
    background-size: cover;
  }
  .password .img {
    background: url(../login/img/locked@3x.png) no-repeat;
    background-size: cover;
  }
  .clear input {
    background: url(../login/img/reset@3x.png) no-repeat;
    background-size: cover;
  }
} /* 应用媒体查询，检测dpi情况，分别应用相应倍数的图 */

.import {
  margin-left: 1em;
  height: 2em;
  font-size: 1.6em;
}
.import::-webkit-input-placeholder {
  color: #e1e5e7;
}
.import:-moz-placeholder {
  color: #e1e5e7;
}
.import::-moz-placeholder {
  color: #e1e5e7;
}
.import:-ms-input-placeholder {
  color: #e1e5e7;
} /* 定义输入框的输入内容的字体大小，以及其默认文本的颜色 */

.clear {
  display: none;
}
.account input:valid + .clear {
  display: flex;
}
.password input:valid + .clear {
  display: flex;
} /* clear按钮平时隐藏，输入框要增加required验证属性，即有输入内容，输入框才合法，才会触发:valid的伪类选择器，
  生效的样式为 + 号后面的CSS样式，从而实现有输入内容，clear按钮显示出来；*/

.login {
  margin-top: 3.6em;

  width: 100%;
  height: 5em;
  background-color: #5fc0cd;
} /* 定义登录按钮的包含块的大小、位置和背景颜色，因包含块的em值为10px，方便换算 */
.login input {
  width: 100%;
  height: 100%;

  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0.5em;
  color: #ffffff;
} /* 定义登录按钮的字体类型，及按钮的大小，因字体大小改变，按钮大小不好换算 */

.forget {
  display: flex;
  justify-content: flex-end;

  margin-top: 1em;
  margin-right: 1.6em;
} /* 定义“忘记密码”的包含块的大小和位置，原因同上，方便换算 */
.forget a {
  text-decoration: none;
  outline: none;

  min-height: 1.5em;
  font-size: 1.6em;
  letter-spacing: 0.05em;
  color: #5fc0cd;
} /* 清除a的默认样式，定义其字体类型及大小，且min-height 保证点击区域至少44px */
