@charset "utf-8";

@import "../base/colors";

.header-btn {
    position: absolute;
    padding: 0 1em;
    height: 100%;
    &-left {
        left: 0;
    }
    &-right {
        right: 0;
    }
    &:hover {
        background-color: darken($color-primary, 20%);
    }
}
// 定义标题栏的左右两端按钮的边距和大小

.footer-btn {
    width: 100%;
    height: 3em;

    background-color: $color-primary;
    &:hover {
        @extend .header-btn:hover;
    }
}
// 定义底部栏的按钮的大小
.footer-a {
    float: right;
    margin-top: 0.625em;
    margin-right: 1em;
    &:hover {
        color: lighten($color-primary, 20%);
    }
}
// 定义底部栏的链接的大小